.vzn_details__summary {
  margin-bottom: 2px;

  p {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-align: left;
  }

  span {
    font-weight: 400;
  }
}