.divisions_list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: calc(100dvh - 115px);
    border: 1px solid $outline-gray-900;
    border-radius: 4px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.list_item {
display: flex;
flex-direction: column;
align-items: start;
justify-content: start;
width: 100%;
padding: 4px;
border-bottom: 0.2px solid $outline-gray-900;
font-size: 10px;

  &:last-child {
    border: none;
  }

  &:hover {
    background-color: #e1d5e7;
  }
  
  &:active {
    background-color: #e1d5e7;
  }
}
