.header_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
  gap: 4px;
  position: relative;
}

.with_border {
  border-bottom: 1px solid $outline-gray-900;
}

.blue_background {
  background-color: $bg-blue-100;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.title {
  display: flex;
  flex-direction: column;
}

.headline_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $text-black-300;
}

.supporting_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: $text-black-200;
}

.icon_button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  width: 73px;
  height: 21px;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  border-radius: 100px;
  border: none;
  background: $primary-400;
  cursor: pointer;
  }

.header_btn:hover,
.header_btn:focus-visible {
  filter: brightness(1.25);
  transition: filter .2s;
}

