.btn {
  width: 90px;
  height: 40px;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  border: none;
  border-radius: 6.25rem;
  background: $primary-400;
  transition: background .2s ease, transform .2s ease;

  &:hover,
  &:focus-visible {
    filter: brightness(1.25);
    transition: filter .2s;
  }

  &:active {
    transform: scale(0.95);
  }
}

/* Модификатор для белой кнопки */
.btn--white {
  color: $primary-400;
  background: $white;
  border: 1px solid $primary-400; /* Добавляем обводку для белой кнопки */
  
  &:hover,
  &:focus-visible {
    filter: brightness(0.95); /* Изменяем фильтр при наведении */
  }
}
