.list-vzn {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__block {
    flex-grow: 1;
    width: 100%;
    margin-top: 4px;
    overflow-y: auto;
    border: 1px solid $outline-gray-900;
    border-radius: 4px;
  }

  &__block-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 4px;
    border-bottom: 0.2px solid $outline-gray-900;
  }

  &__block-item:last-child {
    border: none;
  }

  &__block-item p {
    color: $text-black-200;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.25px;
    text-align: left;
  }

  &__block-item p span {
    font-weight: 500;
  }
}

.list-vzn__block::-webkit-scrollbar {
  width: 0;
}
